<div class="container">
	{{#if error}}
		<p class="bg-danger">{{error}}</p>
	{{/if}}

	{{#if artists}}
		{{#each artists}}
			<div class="row">
				<div class="col-md-12">
					<a href="{{this.url}}" target="_blank">
						<img class="pull-left" src="{{this.images.medium.text}}" alt="{{this.name}}" title="{{this.name}}" />
						{{this.name}}
					</a>
				</div>
			</div>
		{{/each}}

		<nav aria-label="Results navigation">
			<ul class="pagination">
				{{#if pagination.previous}}
					<li>
						<a href="?country={{country}}&amp;page={{pagination.previous}}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{{/if}}

				{{#each pagination.pagesInRange}}
					<li><a href="?country={{../country}}&amp;page={{this}}">{{this}}</a></li>
				{{/each}}

				{{#if pagination.next}}
				<li>
					<a href="?country={{country}}&amp;page={{pagination.next}}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>


			<ul>
				{{#if this.previous}}
				<li><a class="c-pagination__item-link" href="{{this.previousUrl}}" rel="prev">&lt;</a></li>
				{{/if}}

				{{#each this.pagesInRangeWithUrls}}
				<li class="c-pagination__item"><a class="c-pagination__item-link{{#if this.current}} is-active{{/if}}" href="{{this.url}}">{{this.page}}</a></li>
				{{/each}}

				{{#if this.next}}
				<li class="c-pagination__item c-pagination__item--next"><a class="c-pagination__item-link" href="{{this.nextUrl}}" rel="next">&gt;</a></li>
				{{/if}}
			</ul>
		</div>
	{{else}}
		{{#unless error}}
			<p>No artists</p>
		{{/unless}}
	{{/if}}
</div>
