<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Popular Artists</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/assets/css/normalize.css" rel="stylesheet" media="all">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="all">
	<script  src="/assets/js/jquery-3.1.1.min.js"></script>
	<script  src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Popular Artists</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<form class="navbar-form navbar-right" role="search" method="get" action="">
					<div class="form-group">
						<input type="text" class="form-control" name="country" value="{{#if country}}{{country}}{{/if}}" placeholder="Search for a country">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
			</div>
		</div>
	</div>

	<main role="main">
		{{{__content}}}
	</main>
</body>
</html>